@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
